<!DOCTYPE html>
@Html.Partial("LayoutFrame/_IEHandler")
<html lang="en">
@RenderSection("head", false)
@Html.Partial("LayoutFrame/_Head")
<body>
    <div class="main" role="main">
        @RenderBody()
    </div>
    <div class="container page add-bottom">
        @Html.Partial("LayoutFrame/_TopBar")
        @Html.Partial("LayoutFrame/_BrandHeader")
        <div class="main" role="main">
            <div class="tools sixteen columns add-bottom">
                <a href="#">Back</a> | <a href="../../WIP/Pool/registration.html">Save</a> | <a href="../../WIP/Pool/mortgage.html">
                    Mortgage Calculator</a> | <a href="../../WIP/Pool/registration.html">My Favorites</a>
                | <a href="../../WIP/Pool/advanced-search.html">Advanced Search</a>
            </div>
            <section class="row">
                <h2 class="section-titling">
                    Central Park West, $390.000</h2>
                <div class="tab-container mini-tabs eight columns">
                    @Html.Partial("Menu/_PhotoGalleryMiniTabMenu")
                    @RenderSection("photo", false)
                    @RenderSection("video", false)
                    @RenderSection("map", false)
                    @RenderSection("poster", false)
                </div>
                <div class="eight columns prop-details">
                    @RenderSection("unitrequestshowing", false)
                </div>
            </section>
            <section class="row double-bottom">
                <div class="tab-container big-tabs sixteen columns">
                    @Html.Partial("Menu/_PhotoGalleryBigTabMenu")
                    @RenderSection("description", false)
                    @RenderSection("shareonfb", false)
                    @RenderSection("sendtofriend", false)
                    @RenderSection("comments", false)
                </div>
            </section>
            @Html.Partial("LayoutFrame/_Features")
            @Html.Partial("LayoutFrame/_Partners")
        </div>
        @Html.Partial("LayoutFrame/_BreadCrumb")
        @Html.Partial("LayoutFrame/_TopScroller")
    </div>
    @Html.Partial("LayoutFrame/_Footer")
    @RenderSection("scripts", false)
</body>
</html>
