@using System.Web.Mvc.Html
@using RentalMobile
@using RentalMobile.Helpers
@model IEnumerable<RentalMobile.Model.Models.MaintenanceTeam>
@{
    ViewBag.Title = "Removing Specialist from Team";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";

    if (ViewBag.ConfirmationSuccess != null && ViewBag.Confirmation == true)
    {
        ViewBag.Confirmation = false;
    <link rel="stylesheet" type="text/css" href="../../Scripts/jNotify-master/jquery/jNotify.jquery.css"
        media="screen" />
    <script type="text/javascript" src="../../Scripts/jNotify-master/jquery/jNotify.jquery.js"> </script>
    <script language='javascript' type='text/javascript'>
        @Html.Raw(ViewBag.ConfirmationSuccess);
    </script>
    }
    <section class="sixteen columns">
        <h3 class="tagline">Removing Specialist from Team</h3>
    </section>
    <section class="sixteen columns">
        @using (Html.BeginForm("RemoveMember", "Provider", FormMethod.Post))
        {
           <input type="hidden" id="pid" name="pid" value="@ViewBag.SelectedSpecialistId" />
           <input type="hidden" id="stid" name="stid" value="@ViewBag.SelectedTeamId" />    
            @Html.ValidationSummary(true)
            if (Model != null && Model.Any())
            { 
                <h2>Confirmation</h2>
           <input hidden="@ViewBag.SelectedSpecialistId"/>
           <input hidden="@ViewBag.SelectedTeamId"/>
            <ul id="property-list" class="list-grid-gallery list">
                @foreach (var item in Model)
                {
                    <li>
                        <article>
                            <figure class="four columns omega">
                                @Html.ActionLink(" ", "Index", "SpecialistProfile", new { id = (int)ViewBag.SelectedSpecialistId }, new { @class = "camera", target = "_blank" })
                                <img src="@{ new ViewHelper().GetSpecialistPrimaryPhoto(ViewBag.SelectedSpecialistId); }" class="scale-with-grid" style="min-height: 185px" alt="gallery" />
                            </figure>
                            <div class="four columns omega;" style="padding-right: 30px">
                                <h4 style="margin-top: 1em">
                                    <p style="color: #396991; margin-bottom: 2em; text-align: center">
                                        <a href="../SpecialistProfile/@ViewBag.SelectedSpecialistId" target="_blank">@{ new ViewHelper().GetSpecialistName(ViewBag.SelectedSpecialistId); }</a>
                                    </p>
                                    <p style="margin-bottom: 2em; text-align: center">
                                        to be Removed from</p>
                                    <p style="text-align: center">
                                        <a href="../ProviderProfile/@item.MaintenanceProviderId" target="_blank">@item.TeamName</a>
                                    </p>
                                </h4>
                            </div>
                            <figure class="four columns alpha">
                                @Html.ActionLink(" ", "Index", "ProviderProfile", new { id = item.MaintenanceProviderId }, new { @class = "camera", target = "_blank" })
                                <img src="@{new ViewHelper().GetTeamPrimaryPhoto(@item.TeamId);}" class="scale-with-grid" style="min-height: 185px" alt="gallery" />
                            </figure>
                            <div class="three columns alpha">
                                <input type="submit" value="Remove" class="full-width" />
                            </div>
                        </article>
                    </li>
                }></ul>               
            }
            else
            {
                
            <br /> <br />
            <h5>
                You can not remove specialist at this moment.</h5>     
            <section class="row">
                <div class="sixteen columns">
                    <div class="sixteen columns">
                        <div style="float: right; text-align: center; padding: 14px 10px" class="five columns register-btn">
                            <a style="color: white" href="../Provider/#team">Ok</a>
                        </div>
                    </div>
                </div>
            </section>
            }
        }
        <div>
            <a href="../Provider/#team">Back</a>
        </div>
    </section>
}
