@*@model IEnumerable<RentalMobile.Model.Models.TenantFavorite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            FavoriteId
        </th>
        <th>
            Tenant
        </th>
        <th>
            UnitId
        </th>
        <th>
            FavoriteDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenant.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
