
@model List<RentalMobile.Model.Models.GeneratedRentalContract>

@{
    ViewBag.Title = "Genereated Rental Agrement";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}


<div id="GeneratedReports">
<h2>GENEREATED</h2>
<table  style="width: 100%; text-align:center">
    <tr>
        <th>
            ID
        </th>
        <th>
            TenantName
        </th>
        <th>
            TenantID
        </th> 
        <th>
            PropertyID
        </th>
        <th>
            MonthlyRent
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th>
            Action 
        </th>
    </tr>
    
    @if(Model != null)
    {
        
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlyRent)
                </td>
                <td>
                    @String.Format("{0:MM/dd/yyyy}",item.StartDate);
                </td>
                <td>
                    @String.Format("{0:MM/dd/yyyy}",item.EndDate);
                </td>
                <th>
                    <a href=  @String.Format("../../Contracts/Reports/RentalAgreement.aspx?ID={0}", @item.ID)>Download</a>
                </th>
            </tr>
        }
    
    }

</table>
<div>
   <a href="../Owner#contract">Go Back</a>
</div>
</div>