@using System.Globalization
@using RentalMobile.Helpers
@model IEnumerable<RentalMobile.ModelViews.OwnerPendingShowingCalendarModelView>
@{
    ViewBag.Title = "NewShowingRequest";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<h2>
    NewShowingRequest</h2>
<div id="showing" class="panel">
    <section class="fifteen columns">
        <ul id="property-list" class="list-grid-gallery list">
            @foreach (var item in Model)
            {
                <li class="prop-type all ">
                    <article>
                        <figure class="five columns alpha">
                            @Html.ActionLink(Html.CountPhoto(item.Unit.UnitId), "Edit", new { id = item.Unit.UnitId }, new { @class = "camera" })
                            <img src="@item.Unit.PrimaryPhoto" class="scale-with-grid" width="280" height="185"
                                     alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h6>
                                <span class="emphasis">@item.OwnerPendingShowingCalendar.RequesterName  </span> @item.OwnerPendingShowingCalendar.EventTitle at:</h6>
                             <h3 class="emphasis">  
                                 @if (item.OwnerPendingShowingCalendar.StartDate != null)
                                 {
                                     @item.OwnerPendingShowingCalendar.StartDate.Value.ToString("dddd dd MMMM yyyy hh:mm:ss tt")
                                 }
                                 ;   Tuesday 2,Feburary, 2013 at : 5:00pm</h3>
                         <br />
                            @*<p>
                                <textarea readonly style="width: 98%; min-height: 60px">@item.Unit.Description</textarea>
                            </p>*@
                            <div class="four columns" style="float: right; padding-right: 16px">
                                <input type="submit" class="full-width tall" value="Confirm" onclick="location.href='/Owner/ShowingRequestConfirm/@item.OwnerPendingShowingCalendar.EventID'"/>
                            </div>
                            <div class="four columns" style="float: left;">
                                <input type="submit" class="full-width tall" value="Deny" onclick="location.href='/Owner/ShowingRequestDeny/@item.OwnerPendingShowingCalendar.EventID'"/>
                            </div>
                        </div>
                    </article>
                </li>
            }
        </ul>
        <style>
            .emphasis
            {
                color: #254F71;
            }
            #container
            {
                width: 100%;
                text-align: center;
            }
            
            #left
            {
                float: left;
                width: 50px;
                height: 20px;
                background: #ff0000;
            }
            
            #center
            {
                display: inline-block;
                margin: 0 auto;
                width: 50px;
                height: 20px;
                background: #00ff00;
            }
            
            #right
            {
                float: right;
                width: 50px;
                height: 20px;
                background: #0000ff;
            }
        </style>
    </section>
    <section class="fifteen columns">
        <!--Pagination-->
        <div id="container">
            <div id="left">
                Previous</div>
            <div id="center">
                Page 1 of 10</div>
            <div id="right">
                Next</div>
        </div>
        <!--Pagination-->
    </section>
</div>
