@model RentalMobile.Models.MaintenanceOrder
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>MaintenanceOrder</legend>
         @Html.LabelFor(model => model.MaintenanceID)
        <div class="editor-label">
            @Html.LabelFor(model => model.UnitID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitID)
            @Html.ValidationMessageFor(model => model.UnitID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MaintenanceDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaintenanceDate)
            @Html.ValidationMessageFor(model => model.MaintenanceDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UrgencyID, "UrgencyType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UrgencyID", String.Empty)
            @Html.ValidationMessageFor(model => model.UrgencyID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceTypeID, "ServiceType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ServiceTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ServiceTypeID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PetsinUnit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PetsinUnit)
            @Html.ValidationMessageFor(model => model.PetsinUnit)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TenantPresence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenantPresence)
            @Html.ValidationMessageFor(model => model.TenantPresence)
        </div>
        @*<form action="#" class="sixteen columns shadded wide-on-small-screen">

    <ul class="grid-form fourteen columns push by-one remove-bottom">
        <li class="four columns alpha">
            <label for="prop-type-field" class="screen-reader-text">Property type</label>
            <input id="prop-type-field" type="text" placeholder="Property type" required />
        </li>
        <li class="four columns">
            <label for="address-field" class="screen-reader-text">Address</label>
            <input id="address-field" type="text" placeholder="Address" required />
        </li>
        <li class="three columns relative">
            <label for="beds-select" class="screen-reader-text">Beds</label>
            <select id="beds-select" class="custom-select" title="Beds">
                <option value="1">Beds</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </li>
        <li class="three columns omega relative">
            <label for="baths-select" class="screen-reader-text">Baths</label>
            <select id="baths-select" class="custom-select" title="Baths">
                <option value="1">Baths</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </li>
					
        <li class="four columns alpha">
            <label for="features-field" class="screen-reader-text">Features</label>
            <input id="features-field" type="text" placeholder="Features" required />
        </li>
        <li class="five columns">	
            <label for="date-available-field" class="screen-reader-text">Date Available</label>
            <input id="date-available-field" type="text" placeholder="Date Available" required />
        </li>
        <li class="five columns omega">
            <label for="photo-field" class="screen-reader-text">Upload photo</label>
            <input id="photo-field" type="text" placeholder="Upload photo" class="upload-field" />
        </li>

        <li class="four columns alpha">
            <label for="price-field" class="screen-reader-text">Price</label>
            <input id="price-field" type="text" placeholder="Price" required />
        </li>
        <li class="three columns">	
            <label for="meters-field" class="screen-reader-text">Meters</label>
            <input id="meters-field" type="text" placeholder="Meters" required />
        </li>
        <li class="four columns">
            <label for="style-field" class="screen-reader-text">Building style</label>
            <input id="style-field" type="text" placeholder="Building style" required />
        </li>
        <li class="three columns omega">
            <label for="built-field" class="screen-reader-text">Year built</label>
            <input id="built-field" type="text" placeholder="Year built" />
        </li>

        <li class="five columns alpha">	
            <label for="name-field" class="screen-reader-text">Your name</label>
            <input id="name-field" type="text" placeholder="Your name" required />
        </li>
        <li class="five columns">
            <label for="last-name-field" class="screen-reader-text">Last name</label>
            <input id="last-name-field" type="text" placeholder="Last name" required />
        </li>
        <li class="four columns omega">
            <label for="email-field" class="screen-reader-text">Year built</label>
            <input id="email-field" type="email" placeholder="Email" />
        </li>

        <li class="fourteen columns alpha omega">
            <label for="description-field" class="screen-reader-text">Description</label>
            <textarea name="description-field" id="description-field" rows="20" placeholder="Description" class="full-width"></textarea>
        </li>

        <li class="two columns omega push by-twelve">		
            <input type="submit" value="SEND IT" class="tall"/>
        </li>
    </ul>

</form>*@
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
