@model RentalMobile.ModelViews.UnitModelView
@using RentalMobile.Helpers;
@using RentalMobile.ModelViews
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<h2>
    Create Application</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="../../css/smartwizard/smart_wizard.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../Scripts/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../Scripts/smartwizard/jquery.smartWizard-2.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Smart Wizard     	
        $('#wizard').smartWizard({ transitionEffect: 'slideleft', onLeaveStep: leaveAStepCallback, onFinish: onFinishCallback, enableFinishButton: true });

        function leaveAStepCallback(obj) {
            var step_num = obj.attr('rel');
            return validateSteps(step_num);
        }

        function onFinishCallback() {
            if (validateAllSteps()) {
                $('form').submit();
            }
        }


    });

    function validateAllSteps() {
        var isStepValid = true;

        if (validateStep1() == false) {
            isStepValid = false;
            $('#wizard').smartWizard('setError', { stepnum: 1, iserror: true });
        } else {
            $('#wizard').smartWizard('setError', { stepnum: 1, iserror: false });
        }


        if (!isStepValid) {
            $('#wizard').smartWizard('showMessage', 'Please correct the errors in the steps and continue');
        }

        return isStepValid;
    }


    function validateSteps(step) {
        var isStepValid = true;
        // validate step 1
        if (step == 1) {
            if (validateStep1() == false) {
                isStepValid = false;
                $('#wizard').smartWizard('showMessage', 'Please correct the errors in step' + step + ' and click next.');
                $('#wizard').smartWizard('setError', { stepnum: step, iserror: true });
            } else {
                $('#wizard').smartWizard('setError', { stepnum: step, iserror: false });
            }
        }
        return isStepValid;
    }

    function validateStep1() {
        var isValid = true;
        return isValid;
    }

    function validateStep3() {
        var isValid = true;
        //validate email  email
        var email = $('#email').val();
        if (email && email.length > 0) {
            if (!isValidEmailAddress(email)) {
                isValid = false;
                $('#msg_email').html('Email is invalid').show();
            } else {
                $('#msg_email').html('').hide();
            }
        } else {
            isValid = false;
            $('#msg_email').html('Please enter email').show();
        }
        return isValid;
    }

    // Email Validation
    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    } 
		
		
</script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
    rel="stylesheet" type="text/css" />
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>*@
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        $("#birthday").datepicker();
        $("#workstartdate").datepicker();
        $("#workenddate").datepicker();
        $("#currentrentstartdate").datepicker();
        $("#currentrentenddate").datepicker();
        $("#previousrentstartdate").datepicker();
        $("#previousrentenddate").datepicker();
    });
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
@*<input type='hidden' name="issubmit" value="1">*@
    <!-- Tabs -->
    <style>
        form li small
        {
            top: 0;
        }
    </style>
    
    
    <div>
        <label>
            @Html.LabelFor(m => m.Unit.UnitId)</label>
    </div>
    <div id="wizard" class="swMain sixteen columns shadded wide-on-small-screen">
        <ul class="sixteen columns">
            <li><a href="#step-1" class="four columns"><span class="stepNumber">1</span> <span
                class="stepDesc">Property<br />
                @* <small>Applicant Information</small>*@ </span></a></li>
            <li><a href="#step-2" class="four columns"><span class="stepNumber">2</span> <span
                class="stepDesc">Feature<br />
                @* <small>Employment</small>*@ </span></a></li>
            <li><a href="#step-3" class="four columns"><span class="stepNumber">3</span> <span
                class="stepDesc">Amenity<br />
                @* <small>Step 3 description</small> *@</span></a></li>
            <li><a href="#step-4" class="four columns"><span class="stepNumber">4</span> <span
                class="stepDesc">Photo<br />
                @*  <small>Additional Information</small>*@ </span></a></li>
        </ul>
        <div id="step-1" class="sixteen columns" style="height: auto; padding: 0">
            <h2 class="StepTitle">
                Unit Detail</h2>
            <section class="sixteen columns add-bottom relative" style="margin-top: 10px; margin-left: 50px">
                <ul>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.Unit.Address, new { id = "address", required = "required", @class = "full-width", placeholder = "Address" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.Unit.City, new { id = "addresscity", required = "required", @class = "full-width", placeholder = "City" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.Unit.State, new { id = "addressstate", required = "required", @class = "full-width", placeholder = "State" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.Unit.Bed, new { id = "bed", required = "required", @class = "full-width", placeholder = "Bed" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.Unit.Bathroom, new { id = "bathroom", required = "required", @class = "full-width", placeholder = "Bathroom" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.Unit.SquareFoot, new { id = "squarefoot", required = "required", @class = "full-width", placeholder = "SquareFoot" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.Unit.YearBuilt, new { id = "yearbuilt", required = "required", @class = "full-width", placeholder = "Year Built" })
                                        <li class="nine columns">
                        @Html.TextAreaFor(m => m.Unit.Description, new { row = "20", required = "required", @class = "full-width", placeholder = "Description", @maxlength = "500" })
                    </li>
                </ul>
            </section>
            <h2 class="StepTitle">
                Pricing</h2>
            <section class="sixteen columns add-bottom relative" style="margin-top: 10px; margin-left: 50px">
                <ul>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.UnitPricing.Rent, new { id = "Rent", required = "required", @class = "full-width", placeholder = "Rent Amount" })
                    </li>
                     <li class="five columns">
                         @Html.DropDownListFor(m => m.Unit.CurrencyCode, Html.GetCurrency((int?)ViewBag.CurrencyCode))
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.UnitPricing.AvailableDate, new { id = "AvailableDate", required = "required", @class = "full-width", placeholder = "Available Date" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.UnitPricing.Deposit, new { id = "Deposit", required = "required", @class = "full-width", placeholder = "Deposit" })
                    </li>
                    <li class="five columns">
                        @Html.TextBoxFor(m => m.UnitPricing.ApplicationFee, new { id = "ApplicationFee", required = "required", @class = "full-width", placeholder = "Application Fee" })
                    </li>
                    <li class="five columns" style="text-align: center">
                        <label id="Section 8">
                            Section_8
                        </label>
                        @Html.EditorFor(m => m.UnitPricing.Section_8_Eligible, new { id = "Section8Eligible", required = "required", @class = "full-width", placeholder = "Section 8 Eligible?" })
                    </li>
                </ul>
            </section>
        </div>
        <div id="step-2" class="sixteen columns" style="height: auto; padding: 0">
            <h2 class="StepTitle">
                Feature</h2>
            <section class="sixteen columns  relative" style="margin-top: 10px; margin-left: 50px;
                margin-bottom: 10px; text-align: center">
                <ul>
                    <li class="five columns ">
                        <label id="HighSpeedInternetAccessLabel">
                            High Speed Internet Access</label>
                        @Html.EditorFor(m => m.UnitFeature.High_Speed_Internet_Access, new { id = "High_Speed_Internet_Access", required = "required", @class = "full-width", placeholder = "High Speed Internet Access" })
                    </li>
                    <li class="five columns">
                        <label id="InternetIncludedLabel">
                            Internet Included</label>
                        @Html.EditorFor(m => m.UnitFeature.Internet_Included, new { id = "Internet_Included", required = "required", @class = "full-width", placeholder = "Internet Included" })
                    </li>
                    <li class="five columns">
                        <label id="Wireless_Internet_Access">
                            Wireless Internet Access</label>
                        @Html.EditorFor(m => m.UnitFeature.Wireless_Internet_Access, new { id = "Wireless_Internet_Access", required = "required", @class = "full-width", placeholder = "Wireless Internet Access" })
                    </li>
                    <li class="five columns">
                        <label id="Some_Paid_Utilities">
                            Paid Utilities</label>
                        @Html.EditorFor(m => m.UnitFeature.Some_Paid_Utilities, new { id = "Some_Paid_Utilities", required = "required", @class = "full-width", placeholder = "Some Paid Utilities" })
                    </li>
                    <li class="five columns">
                        <label id="Covered_Parking">
                            Covered_Parking</label>
                        @Html.EditorFor(m => m.UnitFeature.Covered_Parking, new { id = "Covered_Parking", required = "required", @class = "full-width", placeholder = "Covered Parking" })
                    </li>
                    <li class="five columns">
                        <label id="PetsallowedLabel">
                            Pets allowed</label>
                        @Html.EditorFor(m => m.UnitFeature.Pets_allowed, new { id = "Pets_allowed", required = "required", @class = "full-width", placeholder = "Pets allowed" })
                    </li>
                    <li class="five columns">
                        <label id="SmallDogsLabel">
                            Small Dogs</label>
                        @Html.EditorFor(m => m.UnitFeature.Small_Dogs, new { id = "Small_Dogs", required = "required", @class = "full-width", placeholder = "Small Dogs" })
                    </li>
                    <li class="five columns">
                        <label id="LargeDogsLabel">
                            Large Dogs</label>
                        @Html.EditorFor(m => m.UnitFeature.Large_Dogs, new { id = "Large_Dogs", required = "required", @class = "full-width", placeholder = "Large Dogs" })
                    </li>
                    <li class="five columns">
                        <label id="AlarmSystemLabel">
                            Alarm system</label>
                        @Html.EditorFor(m => m.UnitFeature.Alarm_system, new { id = "AlarmSystem", required = "required", @class = "full-width", placeholder = "Alarm system" })
                    </li>
                    <li class="five columns">
                        <label id="Near_TransportationLabel">
                            Near Transportation</label>
                        @Html.EditorFor(m => m.UnitFeature.Near_Transportation, new { id = "Near_Transportation", required = "required", @class = "full-width", placeholder = "Near Transportation" })
                    </li>
                    <li class="five columns">
                        <label id="Short_Term_Lease_AvailableLabel">
                            Short Term Lease Available</label>
                        @Html.EditorFor(m => m.UnitFeature.Short_Term_Lease_Available, new { id = "Short_Term_Lease_Available", required = "required", @class = "full-width", placeholder = "Short Term Lease Available" })
                    </li>
                    <li class="five columns">
                        <label id="RV_ParkingLabel">
                            Alarm_system</label>
                        @Html.EditorFor(m => m.UnitFeature.RV_Parking, new { id = "RV_Parking", required = "required", @class = "full-width", placeholder = "RV Parking" })
                    </li>
                    <li class="five columns">
                        <label id="Boat_StorageLabel">
                            Boat Storage</label>
                        @Html.EditorFor(m => m.UnitFeature.Boat_Storage, new { id = "Boat_Storage", required = "required", @class = "full-width", placeholder = "Boat Storage" })
                    </li>
                </ul>
            </section>
            <h2 class="StepTitle">
                Community Amenity</h2>
            <section class="sixteen columns  relative" style="margin-top: 20px; margin-left: 50px;
                margin-bottom: 10px; text-align: center">
                <ul>
                    <li class="five columns ">
                        <div align="center">
                            @Html.TextBoxFor(m => m.UnitCommunityAmenity.Neighborhood_Name, new { id = "Neighborhood_Name", required = "required", @class = "full-width", placeholder = "Neighborhood Name" })
                        </div>
                    </li>
                    <li class="five columns">
                        <div align="center">
                            @Html.TextBoxFor(m => m.UnitCommunityAmenity.Elementary_School, new { id = "Elementary_School", required = "required", @class = "full-width", placeholder = "Elementary School" })
                        </div>
                    </li>
                    <li class="five columns">
                        <div align="center">
                            @Html.TextBoxFor(m => m.UnitCommunityAmenity.High_School, new { id = "High_School", required = "required", @class = "full-width", placeholder = "High School" })
                        </div>
                    </li>
                    <li class="five columns">
                        <div align="center">
                            @Html.TextBoxFor(m => m.UnitCommunityAmenity.School_District, new { id = "School_District", required = "required", @class = "full-width", placeholder = "School District" })
                        </div>
                    </li>
                    <li class="five columns">
                        <div align="center">
                            @Html.TextBoxFor(m => m.UnitCommunityAmenity.Middle_School, new { id = "Middle_School", required = "required", @class = "full-width", placeholder = "Middle School" })
                        </div>
                    </li>
                    <li class="five columns">
                        <div align="center">
                            @Html.TextBoxFor(m => m.UnitCommunityAmenity.County_Name, new { id = "County_Name", required = "required", @class = "full-width", placeholder = "County Name" })
                        </div>
                    </li>
                    <li class="five columns">
                        <label id="Assisted_Living_CommunityLabel">
                            Assisted Living Community</label>
                        @Html.EditorFor(m => m.UnitCommunityAmenity.Assisted_Living_Community, new { id = "Assisted_Living_Community", required = "required", @class = "full-width", placeholder = "Assisted Living Community" })
                    </li>
                    <li class="five columns">
                        <label id="Over_55_Active_CommunityLabel">
                            Over 55 Active Community</label>
                        @Html.EditorFor(m => m.UnitCommunityAmenity.Over_55_Active_Community, new { id = "Over_55_Active_Community", required = "required", @class = "full-width", placeholder = "Over 55 Active Community" })
                    </li>
                    <li class="five columns">
                        <label id="Disability_AccessLabel">
                            Disability Access</label>
                        @Html.EditorFor(m => m.UnitCommunityAmenity.Disability_Access, new { id = "Disability_Access", required = "required", @class = "full-width", placeholder = "Disability Access" })
                    </li>
                    <li class="five columns">
                        <label id="Controlled_AccessLabel">
                            Controlled Access</label>
                        @Html.EditorFor(m => m.UnitCommunityAmenity.Controlled_Access, new { id = "Controlled_Access", required = "required", @class = "full-width", placeholder = "Controlled Access" })
                    </li>
                    <li class="five columns">
                        <label id="Community_PoolLabel">
                            Community Pool</label>
                        @Html.EditorFor(m => m.UnitCommunityAmenity.Community_Pool, new { id = "Community_Pool", required = "required", @class = "full-width", placeholder = "Community_Pool" })
                    </li>
                </ul>
            </section>
            <h2 class="StepTitle">
                Unit Appliance</h2>
            <section class="sixteen columns  relative" style="margin-top: 10px; margin-left: 50px;
                margin-bottom: 10px; text-align: center">
                <ul>
                    <li class="five columns ">
                        <label id="Range_OvenLabel">
                            Range Oven</label>
                        @Html.EditorFor(m => m.UnitAppliance.Range_Oven, new { id = "Range_Oven", required = "required", @class = "full-width", placeholder = "Range Oven" })
                    </li>
                    <li class="five columns">
                        <label id="Full_RefrigeratorLabel">
                            Full Refrigerator</label>
                        @Html.EditorFor(m => m.UnitAppliance.Full_Refrigerator, new { id = "Full_Refrigerator", required = "required", @class = "full-width", placeholder = "Full Refrigerator" })
                    </li>
                    <li class="five columns">
                        <label id="DishwasherLabel">
                            Dishwasher</label>
                        @Html.EditorFor(m => m.UnitAppliance.Dishwasher, new { id = "Dishwasher", required = "required", @class = "full-width", placeholder = "Dishwasher" })
                    </li>
                    <li class="five columns">
                        <label id="Sink_DisposalLabel">
                            Sink Disposal</label>
                        @Html.EditorFor(m => m.UnitAppliance.Sink_Disposal, new { id = "Sink_Disposal", required = "required", @class = "full-width", placeholder = "Sink Disposal" })
                    </li>
                    <li class="five columns">
                        <label id="MicrowaveLabel">
                            Microwave</label>
                        @Html.EditorFor(m => m.UnitAppliance.Microwave, new { id = "Microwave", required = "required", @class = "full-width", placeholder = "Microwave" })
                    </li>
                    <li class="five columns">
                        <label id="Central_VacuumLabel">
                            Central Vacuum</label>
                        @Html.EditorFor(m => m.UnitAppliance.Central_Vacuum, new { id = "Central_Vacuum", required = "required", @class = "full-width", placeholder = "Central Vacuum" })
                    </li>
                    <li class="five columns">
                        <label id="Surround_SoundLabel">
                            Surround Sound</label>
                        @Html.EditorFor(m => m.UnitAppliance.Surround_Sound, new { id = "Surround_Sound", required = "required", @class = "full-width", placeholder = "Surround_Sound" })
                    </li>
                    <li class="five columns">
                        <label id="Wine_FridgeLabel">
                            Wine Fridge</label>
                        @Html.EditorFor(m => m.UnitAppliance.Wine_Fridge, new { id = "Wine_Fridge", required = "required", @class = "full-width", placeholder = "Wine_Fridge" })
                    </li>
                    <li class="five columns">
                        <label id="Washer___Dryer_in_UnitLabel">
                            Washer/Dryer in Unit</label>
                        @Html.EditorFor(m => m.UnitAppliance.Washer___Dryer_in_Unit, new { id = "Washer___Dryer_in_Unit", required = "required", @class = "full-width", placeholder = "Washer/Dryer in Unit" })
                    </li>
                    <li class="five columns">
                        <label id="Washer_Dryer_ConnectionsLabel">
                            Washer/Dryer Connections</label>
                        @Html.EditorFor(m => m.UnitAppliance.Washer_Dryer_Connections, new { id = "Washer_Dryer_Connections", required = "required", @class = "full-width", placeholder = "Washer_Dryer_Connections" })
                    </li>
                    <li class="five columns">
                        <label id="Shared_Laundry_FacilityLabel">
                            Shared Laundry Facility</label>
                        @Html.EditorFor(m => m.UnitAppliance.Shared_Laundry_Facility, new { id = "Shared_Laundry_Facility", required = "required", @class = "full-width", placeholder = "Shared Laundry Facility" })
                    </li>
                </ul>
            </section>
        </div>
        <div id="step-3" class="sixteen columns" style="height: auto; padding: 0">
            <h2 class="StepTitle">
                Interior Amenity</h2>
            <section class="sixteen columns relative" style="margin-top: 10px; margin-left: 50px;
                margin-bottom: 10px; text-align: center">
                <ul>
                    <li class="five columns ">
                        <label id="CoolingTypeIdLabel">
                            Cooling Type
                        </label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.CoolingTypeId, new { id = "CoolingTypeId", required = "required", @class = "full-width", placeholder = "Cooling Type " })
                    </li>
                    <li class="five columns">
                        <label id="HeatingTypeIdLabel">
                            Heating Type
                        </label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.HeatingTypeId, new { id = "HeatingTypeId", required = "required", @class = "full-width", placeholder = "Heating Type" })
                    </li>
                    <li class="five columns">
                        <label id="FireplaceLabel">
                            Fireplace</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Fireplace, new { id = "Fireplace", required = "required", @class = "full-width", placeholder = "Fireplace" })
                    </li>
                    <li class="five columns">
                        <label id="Hot_Tub_SpaLabel">
                            Hot Tub Spa</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Hot_Tub_Spa, new { id = "Hot_Tub_Spa", required = "required", @class = "full-width", placeholder = "Hot Tub Spa" })
                    </li>
                    <li class="five columns">
                        <label id="Cable_ReadyLabel">
                            Cable Ready</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Cable_Ready, new { id = "Cable_Ready", required = "required", @class = "full-width", placeholder = "Cable Ready" })
                    </li>
                    <li class="five columns">
                        <label id="AtticLabel">
                            Attic</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Attic, new { id = "Attic", required = "required", @class = "full-width", placeholder = "Attic" })
                    </li>
                    <li class="five columns">
                        <label id="BasementTypeLabel">
                            Basement Type</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.BasementTypeId, new { id = "BasementTypeId", required = "required", @class = "full-width", placeholder = "Basement Type" })
                    </li>
                    <li class="five columns">
                        <label id="Double_Pane_Storm_WindowsLabel">
                            Double Pane Storm Windows</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Double_Pane_Storm_Windows, new { id = "Double_Pane_Storm_Windows", required = "required", @class = "full-width", placeholder = "Double Pane Storm Windows" })
                    </li>
                    <li class="five columns">
                        <label id="FloorCoveringIdLabel">
                            Floor Covering
                        </label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.FloorCoveringId, new { id = "FloorCoveringId", required = "required", @class = "full-width", placeholder = "Floor Covering" })
                    </li>
                    <li class="five columns">
                        <label id="FoundationTypeLabel">
                            Foundation Type</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.FoundationTypeId, new { id = "FoundationTypeId", required = "required", @class = "full-width", placeholder = "Foundation Type" })
                    </li>
                    <li class="five columns">
                        <label id="Kitchen_IslandLabel">
                            Kitchen Island</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Kitchen_Island, new { id = "Kitchen_Island", required = "required", @class = "full-width", placeholder = "Kitchen_Island" })
                    </li>
                    <li class="five columns">
                        <label id="Vaulted_CeilingLabel">
                            Vaulted Ceiling</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Vaulted_Ceiling, new { id = "Vaulted_Ceiling", required = "required", @class = "full-width", placeholder = "Vaulted_Ceiling" })
                    </li>
                    <li class="five columns">
                        <label id="Ceiling_FanLabel">
                            Ceiling Fan</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Ceiling_Fan, new { id = "Ceiling_Fan", required = "required", @class = "full-width", placeholder = "Ceiling Fan" })
                    </li>
                    <li class="five columns">
                        <label id="Jetted_TubLabel">
                            Jetted Tub</label>
                        @Html.EditorFor(m => m.UnitInteriorAmenity.Jetted_Tub, new { id = "Jetted_Tub", required = "required", @class = "full-width", placeholder = "Jetted Tub" })
                    </li>
                </ul>
            </section>
            <h2 class="StepTitle">
                Exterior Amenity</h2>
            <section class="sixteen columns relative" style="margin-top: 10px; margin-left: 50px;
                margin-bottom: 10px; text-align: center">
                <ul>
                    <li class="five columns ">
                        <label id="PoolLabel">
                            Pool
                        </label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Pool, new { id = "Pool", required = "required", @class = "full-width", placeholder = "Pool" })
                    </li>
                    <li class="five columns">
                        <label id="GardenLabel">
                            Garden
                        </label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Garden, new { id = "Garden", required = "required", @class = "full-width", placeholder = "Garden" })
                    </li>
                    <li class="five columns">
                        <label id="Gated_EntryLabel">
                            Gated Entry</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Gated_Entry, new { id = "Gated_Entry", required = "required", @class = "full-width", placeholder = "Gated Entry" })
                    </li>
                    <li class="five columns">
                        <label id="GreenhouseLabel">
                            Greenhouse</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Greenhouse, new { id = "Greenhouse", required = "required", @class = "full-width", placeholder = "Greenhouse" })
                    </li>
                    <li class="five columns">
                        <label id="LawnLabel">
                            Lawn</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Lawn, new { id = "Lawn", required = "required", @class = "full-width", placeholder = "Lawn" })
                    </li>
                    <li class="five columns">
                        <label id="DeckLabel">
                            Deck</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Deck, new { id = "Deck", required = "required", @class = "full-width", placeholder = "Deck" })
                    </li>
                    <li class="five columns">
                        <label id="DockLabel">
                            Dock</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Dock, new { id = "Dock", required = "required", @class = "full-width", placeholder = "Dock" })
                    </li>
                    <li class="five columns">
                        <label id="Fenced_YardLabel">
                            Fenced Yard</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Fenced_Yard, new { id = "Fenced_Yard", required = "required", @class = "full-width", placeholder = "Fenced_Yard" })
                    </li>
                    <li class="five columns">
                        <label id="FSprinkler_SystemLabel">
                            Sprinkler System</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Sprinkler_System, new { id = "Sprinkler_System", required = "required", @class = "full-width", placeholder = "Sprinkler_System" })
                    </li>
                    <li class="five columns">
                        <label id="PatioLabel">
                            Patio</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Patio, new { id = "Patio", required = "required", @class = "full-width", placeholder = "Patio" })
                    </li>
                    <li class="five columns">
                        <label id="PondLabel">
                            Pond</label>
                        @Html.EditorFor(m => m.UnitExteriorAmenity.Pond, new { id = "Pond", required = "required", @class = "full-width", placeholder = "Pond" })
                    </li>
                </ul>
            </section>
            <h2 class="StepTitle">
                Luxury Amenity</h2>
            <section class="sixteen columns relative" style="margin-top: 10px; margin-left: 50px;
                margin-bottom: 10px; text-align: center">
                <ul>
                    <li class="five columns ">
                        <label id="Tennis_CourtLabel">
                            Tennis Court
                        </label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Tennis_Court, new { id = "Tennis_Court", required = "required", @class = "full-width", placeholder = "Tennis Court" })
                    </li>
                    <li class="five columns">
                        <label id="Security_SystemLabel">
                            Security System
                        </label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Security_System, new { id = "Security_System", required = "required", @class = "full-width", placeholder = "Security System" })
                    </li>
                    <li class="five columns">
                        <label id="Sports_CourtLabel">
                            Sports Court</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Sports_Court, new { id = "Sports_Court", required = "required", @class = "full-width", placeholder = "Sports Court" })
                    </li>
                    <li class="five columns">
                        <label id="Basketball_CourtLabel">
                            Basketball Court</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Basketball_Court, new { id = "Basketball_Court", required = "required", @class = "full-width", placeholder = "Basketball Court" })
                    </li>
                    <li class="five columns">
                        <label id="BarbecueLabel">
                            Barbecue</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Barbecue, new { id = "Barbecue", required = "required", @class = "full-width", placeholder = "Barbecue" })
                    </li>
                    <li class="five columns">
                        <label id="ElevatorLabel">
                            Elevator</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Elevator, new { id = "Elevator", required = "required", @class = "full-width", placeholder = "Elevator" })
                    </li>
                    <li class="five columns">
                        <label id="PorchLabel">
                            Porch</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Porch, new { id = "Porch", required = "required", @class = "full-width", placeholder = "Porch" })
                    </li>
                    <li class="five columns">
                        <label id="SaunaLabel">
                            Sauna</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Sauna, new { id = "Sauna", required = "required", @class = "full-width", placeholder = "Sauna" })
                    </li>
                    <li class="five columns">
                        <label id="SkylightLabel">
                            Skylight</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Skylight, new { id = "Skylight", required = "required", @class = "full-width", placeholder = "Skylight" })
                    </li>
                    <li class="five columns">
                        <label id="IntercomLabel">
                            Intercom</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Intercom, new { id = "Intercom", required = "required", @class = "full-width", placeholder = "Intercom" })
                    </li>
                    <li class="five columns">
                        <label id="WaterfrontLabel">
                            Waterfront</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Waterfront, new { id = "Waterfront", required = "required", @class = "full-width", placeholder = "Waterfront" })
                    </li>
                    <li class="five columns">
                        <label id="Wet_BarLabel">
                            Wet_Bar</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Wet_Bar, new { id = "Wet_Bar", required = "required", @class = "full-width", placeholder = "Wet_Bar" })
                    </li>
                    <li class="five columns">
                        <label id="DoormanLabel">
                            Doorman</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Doorman, new { id = "Doorman", required = "required", @class = "full-width", placeholder = "Doorman" })
                    </li>
                    <li class="five columns">
                        <label id="Solar_HeatLabel">
                            Solar_Heat</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Solar_Heat, new { id = "Solar_Heat", required = "required", @class = "full-width", placeholder = "Solar_Heat" })
                    </li>
                    <li class="five columns">
                        <label id="Solar_PlumbingLabel">
                            Solar_Plumbing</label>
                        @Html.EditorFor(m =>
                                        m.UnitLuxuryAmenity.Solar_Plumbing, new { id = "Solar_Plumbing", required = "required", @class = "full-width", placeholder = "Solar_Plumbing" })
                    </li>
                    <li class="five columns">
                        <label id="Solar_ScreensLabel">
                            Solar_Screens</label>
                        @Html.EditorFor(m => m.UnitLuxuryAmenity.Solar_Screens, new { id = "Solar_Screens", required = "required", @class = "full-width", placeholder = "Solar_Screens" })
                    </li>
                </ul>
            </section>
        </div>
        
        <div id="step-4" class="sixteen columns" style=" height:1200px; padding: 0">
            <h2 class="StepTitle">
                PHOTO</h2>
            <section class="sixteen columns add-bottom relative" style="margin-top: 10px;">
                
                @Html.Action("EditPictures", Model);
            </section>
        </div>
    </div>
    <!-- End SmartWizard Content -->
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Unit</legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.Description)
            @Html.ValidationMessageFor(model => model.Unit.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.PrimaryPhoto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.PrimaryPhoto)
            @Html.ValidationMessageFor(model => model.Unit.PrimaryPhoto)
        </div>

        @*   <legend>UnitGallery</legend>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.UnitGallery.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitGallery.Path)
            @Html.ValidationMessageFor(model => model.UnitGallery.Path)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitGallery.Caption)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitGallery.Caption)
            @Html.ValidationMessageFor(model => model.UnitGallery.Caption)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitGallery.Rank)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitGallery.Rank)
            @Html.ValidationMessageFor(model => model.UnitGallery.Rank)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
<table class="model-state">
    @foreach (var item in ViewContext.ViewData.ModelState)
    {
        if (item.Value.Errors.Any())
        { 
        <tr>
            <td>
                <b>@item.Key</b>
            </td>
            <td>@((item.Value == null || item.Value.Value == null) ? "<null>" : item.Value.Value.RawValue)
            </td>
            <td>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))
            </td>
        </tr>
        }
    }
</table>
<style>
    table.model-state
    {
        border-color: #600;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-collapse: collapse;
        font-size: .8em;
        font-family: arial;
    }
    
    table.model-state td
    {
        border-color: #600;
        border-width: 1px 1px 0 0;
        border-style: solid;
        margin: 0;
        padding: .25em .75em;
        background-color: #FFC;
    }
</style>
