@model RentalMobile.Models.Specialist
@using RentalMobile.Helpers

<div class="seven columns">
                <h4 style="color: #346993;">
                    General Description</h4>
                    <span>@Model.Description</span>
            </div>
 <div class="six columns push by-two">
                <h4 style="color: #346993;">
                    Recommendation</h4>
                <ul class="arrow">
                    <li>@if(Model.Rating == null)
                        {
                            <span>100 % Approval</span>
                        }
                        else
                        {
                            <span>@Model.Rating % Approval</span>
                        }
                        </li>
                </ul>
                <h4 style="color: #346993;">
                    Rate</h4>
                <ul class="arrow">
                    <li>@ViewBag.Rate  @ViewBag.Currency</li>
                </ul>
                <h4 style="color: #346993;">
                    Zone</h4>
     <ul class="arrow">
         @Html.GetSpecialistZone(Model.SpecialistId)
     </ul>
     @Html.ListBox("df",Html.GetSpecialistZone(Model.SpecialistId), new { @class = "custom-select" })
 
 @Html.GetSpecialistZone2(Model.SpecialistId)
 
 </div>
