@using System.Globalization
@model RentalMobile.Models.Specialist
@{
    Layout = "~/Views/Shared/ViewofProfiles/_Professional.cshtml";
    if (String.IsNullOrEmpty(Model.SpecialistId.ToString(CultureInfo.InvariantCulture)))
    {
        Response.Redirect("/Account/Logon");
    }

    var enablejNotify = ViewBag.EmailSharedwithFriend != null && ViewBag.EmailSharedwithFriend == true;
    if (ViewBag.InsertNewComment != null && ViewBag.InsertNewComment == true)
    {
        enablejNotify = true;
    }
      
    if (enablejNotify)
    {
     <link rel="stylesheet" type="text/css" href="../../Scripts/jNotify-master/jquery/jNotify.jquery.css"
        media="screen" />
    <script type="text/javascript" src="../../Scripts/jNotify-master/jquery/jNotify.jquery.js"> </script>
    }

    if (ViewBag.EmailSharedwithFriend != null && ViewBag.EmailSharedwithFriend == true)
    {
        ViewBag.EmailSharedwithFriend = false;  

        <script type="text/javascript">
            @Html.Raw(ViewBag.EmailSucessSharedwithFriend)
        </script>
    }
    
    if (ViewBag.InsertNewComment != null && ViewBag.InsertNewComment == true)
    {
        ViewBag.InsertNewComment = false;  
    <link rel="stylesheet" type="text/css" href="../../Scripts/jNotify-master/jquery/jNotify.jquery.css"
        media="screen" />
    <script type="text/javascript" src="../../Scripts/jNotify-master/jquery/jNotify.jquery.js"> </script>
        <script type="text/javascript">
            @Html.Raw(ViewBag.InsertNewCommentSuccess)
        </script>
    }
 }

<section class="row">
    @section name
    {
        @Model.FirstName @Model.LastName
    }
    @section specialist
    {
        <div id="agent" class="panel" style="width: 100%;">
            <img src="@Model.Photo" alt=" @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)" 
                 class="scale-with-grid"
                 alt="image" style="width:100% ; min-height: 300px ; max-height: 300px;" />
        </div>
    }
    @section work
    {
        <div id="photos" class="panel">
            <a id="fancybox-manual-c" href="javascript:;">
                <img src="@ViewBag.SpecialistPrimaryPhoto" class="scale-with-grid"
                     alt="image" style="width:100% ; min-height: 300px ; max-height: 300px;" />
            </a>
        </div>
    }
    @section map
    {
        <div id="map" class="panel">
            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?q=@ViewBag.SpecialistGoogleMap&amp;z=13&amp;output=embed">
            </iframe>
            <br />
        </div>
    }
    @section specialistrequestform
    {
        <h4 class="remove-top BlueHeading">
            Hire @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
        <p>
            Please complete the form below to hire @Html.DisplayFor(model => model.FirstName)
            for your property.
        </p>
        <p></p>
        @using (Html.BeginForm("HireProfessional", "Professionals", new { id = @Model.SpecialistId, enctype = "multipart/form-data" }, FormMethod.Post))
        {
            <ul class="grid-form">
            @if (Request.IsAuthenticated)
            {
                <li class="four columns alpha"> <label for="your-name" class="screen-reader-text">
                Your name</label> <input id="your-name" placeholder="@User.Identity.Name" type="text"
                required /> </li>
                <li class="four columns omega"> <label for="your-email" class="screen-reader-text">
                E-mail</label> <input id="your-email" placeholder="
                @{var user = Membership.GetUser(User.Identity.Name); }
                @if (user != null)
                {
                    @user.Email
                }" type="email" required /> </li>
                <li class="four columns alpha"> <label for="your-telephone" class="screen-reader-text">
                Your telephone</label> <input id="your-telephone" placeholder="telephone" type="text"
                required /> </li>
                <li class="four columns omega"> <label for="showing-date-label" class="screen-reader-text">
                Service date</label> <input id="datepicker" placeholder="service date" type="text"
                required /> </li>
            }
            else
            {
                <li class="four columns alpha"> <label for="your-name" class="screen-reader-text">
                Your name</label> <input id="your-name-unknown" placeholder="Your name" type="text"
                required /> </li>
                <li class="four columns omega"> <label for="your-email" class="screen-reader-text">
                E-mail</label> <input id="your-email-unknown" placeholder="email" type="email" required
                /> </li>
                <li class="four columns alpha"> <label for="your-telephone" class="screen-reader-text">
                Your telephone</label> <input id="your-telephone-unknown" placeholder="telephone"
                type="text" required /> </li>
            <li class="four columns omega"> <label for="showing-date" class="screen-reader-text">
            Service date</label> <input id="datepicker-unknown" placeholder="service date" type="text"
            required /> </li>
            }
            </ul>
            <input type="submit" class="full-width tall" value="Hire @Html.DisplayFor(model => model.FirstName)"
        />
        }
    }
</section>
<section class="row double-bottom">
    @section description{
        <div id="description" class="panel">
            @{ Html.RenderAction("_Description", "Professionals", new { id = Model.SpecialistId }); }
        </div>
    }
    @section coverage
    {
        <div id="coverage" class="panel">
            @{ Html.RenderAction("_Coverage", "Professionals", new { id = Model.SpecialistId }); }
        </div>
    }
    @section share
    {
        <div id="share-on-fb" class="panel">
            <ul class="grid-form row double-bottom " style="margin: 20px">
                <li class="six columns push by-one"><a id="test" target="_blank" class="twitter-registration" style="text-align: center"
                                                       onclick="popup('@Html.Raw(ViewBag.Twitter)', 'TwitterPopup', 500, 400);" >
                    Share it with your Twitter</a> </li>
                <li class="six columns push by-two"><a target="_blank" class="facebook-registration"
                                                       style="text-align: center" 
                                                       onclick="popup('@Html.Raw(ViewBag.FaceBook)', 'FacebookPopup', 500, 400);">
                    Share it with your Facebook</a> </li>
            </ul>
            <ul class="grid-form row remove-bottom" style="margin: 20px">
                <li class="six columns push by-one"><a target="_blank" class="google-registration" style="text-align: center"
                                                       onclick="popup('@Html.Raw(ViewBag.GooglePlusShare)', 'GooglePlusPopup', 500, 400);">
                    Share it with your Google </a></li>
                <li class="six columns push by-two"><a target="_blank" class="linkedin-registration" style="text-align: center"
                                                       onclick="popup('@Html.Raw(ViewBag.LinkedIn)', 'LinkedInPopup', 500, 400);">
                    Share it with your Linked In</a> </li>
            </ul>
        </div>
    }
    @section sendtofriend
    {
        <div id="send-to-friend" class="panel">
            @using (Html.BeginForm("ForwardtoFriend", "Professionals", new { id = @Model.SpecialistId, enctype = "multipart/form-data" }, FormMethod.Post))
            {

                <h4 class="section-titling" style="color: #346993;">
                    Send this property to a friend</h4>

                <ul class="grid-form row remove-bottom eight columns">
                    <li class="four columns alpha">
                        <label for="friend-name-field" class="screen-reader-text">
                            Name of your friend</label>
                        <input id="friendname" type="text" name="friendname" placeholder="Name of your friend"
                            class="full-width" />
                    </li>
                    <li class="four columns omega">
                        <label for="friend-email-field" class="screen-reader-text">
                            Email of your friend</label>
                        <input id="friend-email-field" type="email" name="friendemailaddress" placeholder="Email of your friend"
                            class="full-width" required />
                    </li>
                    <li class="eight columns alpha omega">
                        <label for="recomendation-message-field" class="screen-reader-text">
                            Recomendation</label>
                        <textarea id="recomendation-message-field" placeholder="Recomendation" name="message"
                            class="full-width"></textarea>
                    </li>
                    <li class="two columns alpha">
                        <input type="submit" value="Send it" />
                    </li>
                    <li class="two columns omega">
                        <input type="button" value="Clear" id="ClearRequest" />
                    </li>
                </ul>
            }
        </div>
    }
    @section comments
    {
        <div id="comments" class="panel">
            @{ Html.RenderAction("_Comment", "Professionals", new { id = Model.SpecialistId }); }
        </div>
    }
</section>
<section>
    @section scripts
    {
        <!-- Scripts & Plugins
            ================================================== -->
        <!-- BX Slider -->
        <script src="../../Scripts/js/jquery.bxslider.min.js" type="text/javascript"></script>
        <!--Fancybox Ligbox-->
        <script src="../../Scripts/js/jquery.fancybox.js" type="text/javascript"></script>
        <!--Fancybox Ligbox Thumbnails-->
        <script src="../../Scripts/js/jquery.fancybox-thumbs.js" type="text/javascript"></script>
        <!-- Tabs -->
        <script src="../../Scripts/js/jquery.easytabs.min.js" type="text/javascript"></script>
        <!-- jQuery dropdown -->
        <script src="../../Scripts/js/jquery.dropdown.js" type="text/javascript"></script>
        <!-- Tipsy -->
        <script src="../../Scripts/js/jquery.tipsy.js" type="text/javascript"></script>
        <!-- FitVids -->
        <script src="../../Scripts/js/fitvids.min.js" type="text/javascript"></script>
        <!--Masked Input-->
        <script src="../../Scripts/MaskedInputPlugin/jquery.maskedinput.js" type="text/javascript"></script>
        <!--Max Length-->
        <script type="text/javascript" src="../../Scripts/MaxLength/jquery.maxlength.js"></script>
        <!--Jquery UI For DateTimeCalendar-->
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script type="text/javascript">
            $(document).ready(function() {
                
                //scroll to top link
                $('.scroll-top').click(function() {
                    $("html, body").animate({ scrollTop: 0 }, 600);
                    return false;
                });

                //Lightbox Fancybox
                $("#fancybox-manual-c").click(function() {
                    @Html.Raw(ViewBag.Sript);
                });

                //responsive menu
                $('<select />').appendTo('header nav');

                $('<option />', {
                    'selected': 'selected',
                    'value': '',
                    'text': 'Select a Page...'
                }).appendTo('header nav select');

                $('.menu-bar .menu a').each(function() {
                    var el = $(this);
                    if (el.parents('.menu-bar .menu ul').length) {
                        $('<option />', {
                            'value': el.attr('href'),
                            'text': '... ' + el.text()
                        }).appendTo('nav select');
                    } else {
                        $('<option />', {
                            'value': el.attr('href'),
                            'text': el.text()
                        }).appendTo('nav select');
                    }
                });

                $('header nav select').change(function() {
                    window.location = $(this).find('option:selected').val();
                });

                //tipsy
                $('ul.social a, .home-btn').tipsy({
                    gravity: 's',
                    fade: true
                });

                //DatePicker
                $("#datepicker").datepicker();
                $("#datepicker-unknown").datepicker();

                //Phone
                $(function() {
                    $("#your-telephone-unknown").mask("(999) 999-9999");
                    $("#your-telephone").mask("(999) 999-9999");

                });
                
                //Init Carousel	
                $('.bx-carousel').bxSlider({
                    auto: true,
                    minSlides: 1,
                    maxSlides: 3,
                    slideWidth: 300,
                    slideMargin: 20,
                    nextSelector: '#carousel-next',
                    prevSelector: '#carousel-prev',
                    pager: false
                });

                //Easy tabs
                $('.tab-container').easytabs();

                //FitVids
                $('#video').fitVids();

                //Character Left
                $("#message-field").maxlength({ 'feedback': '#NumberofCharacterLeft' });

                //Comment Form 
                $("#ClearMessage").click(function () {
                    $('#message-field').val('');
                    $('#NumberofCharacterLeft').html('300');
                });
                
                //Send To Friend Form
                $("#ClearRequest").click(function () {
                    $('#friendname').val('');
                    $('#friend-email-field').val('');
                    $('#recomendation-message-field').val('');
                });
            });              
        </script>
    }
    <!-- Scripts & Plugins
        ================================================== -->
    <!--Pop Up for Social-->
    <script type="text/javascript">
        function popup(pageUrl, title, popupWidth, popupHeight) {
            var left = (screen.width / 2) - (popupWidth / 2);
            var top = (screen.height / 2) - (popupHeight / 2);
            var targetPop = window.open(pageUrl, title, "toolbar=no, location=no,  directories=no, status=no, menubar=no, scrollbars=YES, resizable=YES,  copyhistory=no, width=" + popupWidth + ", height=" + popupHeight + ", top=" + top + ", left=" + left);
        }
    </script>
</section>
