@using RentalMobile.Helpers
@model RentalMobile.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Retrieve Password";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<section class="sixteen columns add-bottom relative">
    <h2>Retrieve Password</h2>
    <ul class="grid-form row remove-bottom">
        <li class="four columns">&nbsp; </li>
        <li class="eight columns">
            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
            <small style="color: green">@ViewBag.Message</small>
            @using (Html.BeginForm("ForgotPassword", "Account"))
            {
                @Html.ValidationSummary(true, "Request Password attempt .Please correct the errors and try again.")
                <div>
                    <fieldset>
                        <legend>User Information</legend>
                        <p>
                            Enter the email address to retrieve your password.
                        </p>
                        <div>
                            @Html.LabelFor(m => m.Email)
                            @Html.EditorFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </fieldset>
                    <p>
                        <input type="submit" value="Reset" />
                    </p>
                </div>
            }
        </li>
        <li class="four columns">&nbsp; </li>
    </ul>
    <div>
        @Html.CustomHyperlink("Back")
    </div>
</section>