@model RentalMobile.Models.RentalApplication

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RentalApplication</legend>

    <div class="display-label">ApplicationId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplicationId)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">MiddleName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">DateofBirth</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateofBirth)
    </div>

    <div class="display-label">SocialSecurityNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SocialSecurityNumber)
    </div>

    <div class="display-label">DriverLicense</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DriverLicense)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">CellPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CellPhone)
    </div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">CoSignerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerName)
    </div>

    <div class="display-label">CoSignerAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerAddress)
    </div>

    <div class="display-label">CoSignerCity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerCity)
    </div>

    <div class="display-label">CoSignerState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerState)
    </div>

    <div class="display-label">CoSignerZipcode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerZipcode)
    </div>

    <div class="display-label">CoSignerPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerPhone)
    </div>

    <div class="display-label">CoSignerRelationShip</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerRelationShip)
    </div>

    <div class="display-label">OtherOccupant1Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherOccupant1Name)
    </div>

    <div class="display-label">IsOccupant1Adult</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOccupant1Adult)
    </div>

    <div class="display-label">RelationshipOccupant1ToApplicant</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RelationshipOccupant1ToApplicant)
    </div>

    <div class="display-label">OtherOccupant2Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherOccupant2Name)
    </div>

    <div class="display-label">IsOccupant2Adult</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOccupant2Adult)
    </div>

    <div class="display-label">RelationshipOccupant2ToApplicant</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RelationshipOccupant2ToApplicant)
    </div>

    <div class="display-label">OtherOccupant3Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherOccupant3Name)
    </div>

    <div class="display-label">IsOccupant3Adult</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOccupant3Adult)
    </div>

    <div class="display-label">RelationshipOccupant3ToApplicant</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RelationshipOccupant3ToApplicant)
    </div>

    <div class="display-label">OtherOccupant4Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherOccupant4Name)
    </div>

    <div class="display-label">IsOccupant4Adult</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOccupant4Adult)
    </div>

    <div class="display-label">RelationshipOccupant4ToApplicant</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RelationshipOccupant4ToApplicant)
    </div>

    <div class="display-label">EmployerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerName)
    </div>

    <div class="display-label">Income</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Income)
    </div>

    <div class="display-label">WorkStartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkStartDate)
    </div>

    <div class="display-label">WorkEndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkEndDate)
    </div>

    <div class="display-label">EmployerAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerAddress)
    </div>

    <div class="display-label">EmployerCity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerCity)
    </div>

    <div class="display-label">EmployerState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerState)
    </div>

    <div class="display-label">EmployerZipcode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerZipcode)
    </div>

    <div class="display-label">EmployerPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerPhone)
    </div>

    <div class="display-label">EmployerFax</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerFax)
    </div>

    <div class="display-label">CurrentLandloard</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentLandloard)
    </div>

    <div class="display-label">CurrentLandLoardPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentLandLoardPhone)
    </div>

    <div class="display-label">CurrentLandLoardFax</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentLandLoardFax)
    </div>

    <div class="display-label">CurrentAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentAddress)
    </div>

    <div class="display-label">CurrentAddressCity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentAddressCity)
    </div>

    <div class="display-label">CurrentAddressState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentAddressState)
    </div>

    <div class="display-label">CurrentAddressZip</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentAddressZip)
    </div>

    <div class="display-label">Rent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rent)
    </div>

    <div class="display-label">CurrentRentStartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentRentStartDate)
    </div>

    <div class="display-label">CurrentRentEndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentRentEndDate)
    </div>

    <div class="display-label">PreviousLandloard</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousLandloard)
    </div>

    <div class="display-label">PreviousLandLoardPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousLandLoardPhone)
    </div>

    <div class="display-label">PreviousLandLoardFax</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousLandLoardFax)
    </div>

    <div class="display-label">PreviousAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousAddress)
    </div>

    <div class="display-label">PreviousAddressCity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousAddressCity)
    </div>

    <div class="display-label">PreviousAddressState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousAddressState)
    </div>

    <div class="display-label">PreviousAddressZip</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousAddressZip)
    </div>

    <div class="display-label">PreviousRent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousRent)
    </div>

    <div class="display-label">PreviousRentStartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousRentStartDate)
    </div>

    <div class="display-label">PreviousRentEndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousRentEndDate)
    </div>

    <div class="display-label">EmergencyContactName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactName)
    </div>

    <div class="display-label">EmergencyContactRelationShip</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactRelationShip)
    </div>

    <div class="display-label">EmergencyContactPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactPhone)
    </div>

    <div class="display-label">EmergencyContactAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactAddress)
    </div>

    <div class="display-label">EmergencyContactCity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactCity)
    </div>

    <div class="display-label">EmergencyContactState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactState)
    </div>

    <div class="display-label">EmergencyContactZipCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactZipCode)
    </div>

    <div class="display-label">Pets</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pets)
    </div>

    <div class="display-label">PetsNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetsNumber)
    </div>

    <div class="display-label">Pet1Brand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pet1Brand)
    </div>

    <div class="display-label">Pet1Age</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pet1Age)
    </div>

    <div class="display-label">Pet1Weight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pet1Weight)
    </div>

    <div class="display-label">Pet2Brand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pet2Brand)
    </div>

    <div class="display-label">Pet2Age</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pet2Age)
    </div>

    <div class="display-label">Pet2Weight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pet2Weight)
    </div>

    <div class="display-label">Vehicle1Make</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle1Make)
    </div>

    <div class="display-label">Vehicle1Model</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle1Model)
    </div>

    <div class="display-label">Vehicle1Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle1Year)
    </div>

    <div class="display-label">Vehicle1Color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle1Color)
    </div>

    <div class="display-label">Vehicle1LicensePlate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle1LicensePlate)
    </div>

    <div class="display-label">Vehicle2Make</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle2Make)
    </div>

    <div class="display-label">Vehicle2Model</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle2Model)
    </div>

    <div class="display-label">Vehicle2Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle2Year)
    </div>

    <div class="display-label">Vehicle2Color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle2Color)
    </div>

    <div class="display-label">Vehicle2LicensePlate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle2LicensePlate)
    </div>

    <div class="display-label">Vehicle3Make</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle3Make)
    </div>

    <div class="display-label">Vehicle3Model</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle3Model)
    </div>

    <div class="display-label">Vehicle3Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle3Year)
    </div>

    <div class="display-label">Vehicle3Color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle3Color)
    </div>

    <div class="display-label">Vehicle3LicensePlate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle3LicensePlate)
    </div>

    <div class="display-label">Vehicle4Make</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle4Make)
    </div>

    <div class="display-label">Vehicle4Model</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle4Model)
    </div>

    <div class="display-label">Vehicle4Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle4Year)
    </div>

    <div class="display-label">Vehicle4Color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle4Color)
    </div>

    <div class="display-label">Vehicle4LicensePlate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle4LicensePlate)
    </div>

    <div class="display-label">Bankruptcy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bankruptcy)
    </div>

    <div class="display-label">LeaseDefaulted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LeaseDefaulted)
    </div>

    <div class="display-label">RefusedtoPayRent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RefusedtoPayRent)
    </div>

    <div class="display-label">EvictedFromRental</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EvictedFromRental)
    </div>

    <div class="display-label">ConvictedofFelony</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConvictedofFelony)
    </div>

    <div class="display-label">CoSignerEmailAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoSignerEmailAddress)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
