@model RentalMobile.Model.Models.MaintenanceTeam
@{
    ViewBag.Title = "Edit Your Team";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
    <section class="sixteen columns add-bottom relative">
        <h2 style="color: #346993;">Edit Team</h2>
        <ul class="grid-form row remove-bottom">
            <li class="four columns">&nbsp; </li>
            <li class="eight columns">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "Team Name can not be empty. Please correct the errors and try again.")
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TeamName) @Html.ValidationMessageFor(model => model.TeamName)
                    </div>
                    <p>
                        <input type="submit" value="Update Team Name" />
                    </p>
                    @Html.HiddenFor(model => model.TeamId)
                    @Html.HiddenFor(model => model.MaintenanceProviderId)
                }
            </li>
            <li class="four columns">&nbsp;</li>
        </ul>
        <div>
            <a href="../../Provider#team">back</a>
        </div>
    </section>
}
