@model RentalMobile.Models.SpecialistPendingTeamInvitation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";

    if (ViewBag.ConfirmationSuccess != null && ViewBag.Confirmation == true)
    {
        ViewBag.Confirmation = false;
        
    <link rel="stylesheet" type="text/css" href="../../Scripts/jNotify-master/jquery/jNotify.jquery.css"
        media="screen" />
    <script type="text/javascript" src="../../Scripts/jNotify-master/jquery/jNotify.jquery.js"> </script>

    @:<!-- jNotify -->
    <script language='javascript' type='text/javascript'>
            @Html.Raw(ViewBag.ConfirmationSuccess)

    </script>
    }
}
@{
    if (@Model != null)
    {
    <h2>
        Confirmation of Association Denial</h2>
    <p>
        By Clicking confirm, you approve your denial with Team @Model.TeamName</p>
    <p>
        <h2>
            JQuery Confirmation</h2>
    </p>


    <p>
        FOR TESTING: SpecialistId = @Model.SpecialistID<br />
        MaintenanceProviderID = @Model.MaintenanceProviderId<br />
    </p>
    }
}
@using (Html.BeginForm("AcceptInvitation", "Specialist", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PendingTeamInvitationID);

    <input type="submit" class="full-width tall" value="Confirm" />
}
