@using PagedList.Mvc
@using RentalMobile.Helpers
@model PagedList.IPagedList<RentalMobile.Models.SpecialistPendingTeamInvitation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<section class="sixteen columns">
    <h2 class="remove-top">
        List of Providers</h2>
    <form action="#" class="row">
    <div class="switcher fr">
        <a href="#" id="gridview" class="switcher"><i class="icon-layout"></i></a><a href="#"
            id="listview" class="switcher active"><i class="icon-menu"></i></a>
    </div>
    </form>
    <div id="showing" class="panel" data-otf-target="#restaurantList">
        
                <section class="fifteen columns">
            <div>
                @Html.PagedListPager(Model, page => Url.Action("ProviderInvitation", new { page }),  new PagedListRenderOptions
                    {
                        DisplayLinkToFirstPage = false,
                        DisplayLinkToLastPage = false,
                        DisplayLinkToPreviousPage = true,
                        DisplayLinkToNextPage = true,
                        DisplayLinkToIndividualPages = false,
                        ContainerDivClasses = null,
                        UlElementClasses = new[] { "pager" },
                        ClassToApplyToFirstListItemInPager = "previous",
                        ClassToApplyToLastListItemInPager = "next",
                        LinkToPreviousPageFormat = "&larr; Older",
                        LinkToNextPageFormat = "Newer &rarr;",
                        DisplayPageCountAndCurrentLocation = true
                                                 
                    })
            </div>
            <!--Pagination-->
            <div id="container">
                <div id="left">
                    Previous</div>
                <div id="center">
                    Page 1 of 10</div>
                <div id="right">
                    Next</div>
            </div>
            <!--Pagination-->
        </section>

        <section class="fifteen columns">
            <!-- List/Grid gallery -->
            <ul id="property-list" class="list-grid-gallery list">
                @foreach (var item in Model)
                {

                    <li class="prop-type all ">
                        <article>
                            <figure class="five columns alpha">
                                @Html.ActionLink("1", "Edit", new { id = item.PendingTeamInvitationID }, new { @class = "camera" })
                                <img src="@Html.GetMaintenanceProviderPrimaryPhoto(item.MaintenanceProviderId)" class="scale-with-grid" width="280" height="185"
                                     alt="gallery" />
                            </figure>
                            <div class="nine columns omega">
                                <h4>
                                </h4>
                                <ul class="prop-data">
                                    <li class="price"></li>
                                </ul>
                                <p class="prop-webid">
                                </p>
                                <p class="propr-details">
                                </p>
                                <p class="prop-extract">
                                </p>
                                <div class="four columns" style="float: right; padding-right: 16px">
                                    <input type="submit" class="full-width tall" value="Confirm" onclick="location.href='/Specialist/AcceptInvitation/@item.PendingTeamInvitationID'"/>
                                </div>
                                <div class="four columns" style="float: left;">
                                    <input type="submit" class="full-width tall" value="Deny" onclick="location.href='/Specialist/DenyInvitation/@item.PendingTeamInvitationID'"/>
                                </div>
                            </div>
                        </article>
                    </li>
                }
            </ul>
            <!-- /.List -->
            <style>
                #container
                {
                    width: 100%;
                    text-align: center;
                }
                #left
                {
                    float: left;
                    width: 50px;
                    height: 20px;
                    background: #ff0000;
                }
                #center
                {
                    display: inline-block;
                    margin: 0 auto;
                    width: 50px;
                    height: 20px;
                    background: #00ff00;
                }
                #right
                {
                    float: right;
                    width: 50px;
                    height: 20px;
                    background: #0000ff;
                }
            </style>
        </section>
        <section class="fifteen columns">
            <div>
                @Html.PagedListPager(Model, page => Url.Action("ProviderInvitation", new { page }),  new PagedListRenderOptions
                    {
                        DisplayLinkToFirstPage = false,
                        DisplayLinkToLastPage = false,
                        DisplayLinkToPreviousPage = true,
                        DisplayLinkToNextPage = true,
                        DisplayLinkToIndividualPages = false,
                        ContainerDivClasses = null,
                        UlElementClasses = new[] { "pager" },
                        ClassToApplyToFirstListItemInPager = "previous",
                        ClassToApplyToLastListItemInPager = "next",
                        LinkToPreviousPageFormat = "&larr; Older",
                        LinkToNextPageFormat = "Newer &rarr;",
                        DisplayPageCountAndCurrentLocation = true
                                                 
                    })
            </div>
            <!--Pagination-->
            <div id="container">
                <div id="left">
                    Previous</div>
                <div id="center">
                    Page 1 of 10</div>
                <div id="right">
                    Next</div>
            </div>
            <!--Pagination-->
        </section>
    </div>
    
    
    <div id="result"></div>
</section>
<section class="sixteen columns" id="DesignDecision">
    <h2>
        Property</h2>
    <table>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PendingTeamInvitationID }) | @*        @Html.ActionLink("Details", "Details", new { id = item.PendingTeamInvitationID }) |
*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.PendingTeamInvitationID })
                </td>
            </tr>
        }
    </table>
</section>
<!-- Scripts & Plugins
        ================================================== -->
<!-- BX Slider -->
<script src="../../Scripts/js/jquery.bxslider.min.js" type="text/javascript"></script>
<!--Fancybox Ligbox-->
<script src="../../Scripts/js/jquery.fancybox.js" type="text/javascript"></script>
<!--Fancybox Ligbox Thumbnails-->
<script src="../../Scripts/js/jquery.fancybox-thumbs.js" type="text/javascript"></script>
<!-- Tabs -->
<script src="../../Scripts/js/jquery.easytabs.min.js" type="text/javascript"></script>
<!-- jQuery dropdown -->
<script src="../../Scripts/js/jquery.dropdown.js" type="text/javascript"></script>
<!-- Tipsy -->
<script src="../../Scripts/js/jquery.tipsy.js" type="text/javascript"></script>
<!-- FitVids -->
<script src="../../Scripts/js/fitvids.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function ($) {

        // Init Carousel	
        $('.bx-carousel').bxSlider({
            auto: true,
            minSlides: 1,
            maxSlides: 3,
            slideWidth: 300,
            slideMargin: 20,
            nextSelector: '#carousel-next',
            prevSelector: '#carousel-prev',
            pager: false
        });

        //Easy tabs
        $('.tab-container').easytabs();

        //FitVids
        $('#video').fitVids();

    });
</script>
<!-- Gallery switcher -->
<script src="../../Scripts/js/switcher.js" type="text/javascript"></script>
<!-- jQuery dropdown -->
<script src="../../Scripts/js/jquery.dropdown.js" type="text/javascript"></script>
<!-- Tipsy -->
<script src="../../Scripts/js/jquery.tipsy.js" type="text/javascript"></script>
<!-- Custom Scripts -->
<script src="../../Scripts/js/scripts.js" type="text/javascript"></script>
<script>

    //    var ajaxFormSubmit = function () {
    //        var $form = $(this);

    //        var options = {
    //            url: $form.attr("action"),
    //            type: $form.attr("method"),
    //            data: $form.serialize()
    //        };

    //        $.ajax(options).done(function (data) {
    //            var $target = $($form.attr("data-otf-target"));
    //            var $newHtml = $(data);
    //            $target.replaceWith($newHtml);
    //            $newHtml.effect("highlight");
    //        });

    //        return false;
    //    };

    //    var submitAutocompleteForm = function (event, ui) {

    //        var $input = $(this);
    //        $input.val(ui.item.label);

    //        var $form = $input.parents("form:first");
    //        $form.submit();
    //    };

    //    var createAutocomplete = function () {
    //        var $input = $(this);

    //        var options = {
    //            source: $input.attr("data-otf-autocomplete"),
    //            select: submitAutocompleteForm
    //        };

    //        $input.autocomplete(options);
    //    };

    var getPage = function () {
        var $a = $(this);

        var options = {
            url: $a.attr("href"),
            data: $("form").serialize(),
            type: "get"
        };

        $.ajax(options).done(function (data) {
            //var target = $a.parents("div.pagedList").attr("data-otf-target");
            //var target = $("div .panel").attr("data-otf-target");

            var target = $("#showing");

            //var target = $(".main");


            $(target).empty().append($(data).find('#showing'));
            //$(target).replaceWith(data);
        });
        return false;

    };

    //    $("form[data-otf-ajax='true']").submit(ajaxFormSubmit);
    //    $("input[data-otf-autocomplete]").each(createAutocomplete);

    $(".main-content").on("click", ".pagedList a", getPage);
    $("#container").on("click", ".pagedList a", getPage);
    // $(".main").on("click", ".pagedList a", getPage);
    $(".main").on("click", ".pager li a", getPage);
</script>
