@model RentalMobile.ModelViews.UnitModelView

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Unit</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.Address)
            @Html.ValidationMessageFor(model => model.Unit.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.City)
            @Html.ValidationMessageFor(model => model.Unit.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.State)
            @Html.ValidationMessageFor(model => model.Unit.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.Bed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.Bed)
            @Html.ValidationMessageFor(model => model.Unit.Bed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.Bathroom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.Bathroom)
            @Html.ValidationMessageFor(model => model.Unit.Bathroom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.SquareFoot)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.SquareFoot)
            @Html.ValidationMessageFor(model => model.Unit.SquareFoot)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.YearBuilt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.YearBuilt)
            @Html.ValidationMessageFor(model => model.Unit.YearBuilt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.Description)
            @Html.ValidationMessageFor(model => model.Unit.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit.PrimaryPhoto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit.PrimaryPhoto)
            @Html.ValidationMessageFor(model => model.Unit.PrimaryPhoto)
        </div>
        
        
        
        
        
        
        

        <legend>UnitFeature</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.High_Speed_Internet_Access)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.High_Speed_Internet_Access)
            @Html.ValidationMessageFor(model => model.UnitFeature.High_Speed_Internet_Access)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Internet_Included)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Internet_Included)
            @Html.ValidationMessageFor(model => model.UnitFeature.Internet_Included)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Wireless_Internet_Access)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Wireless_Internet_Access)
            @Html.ValidationMessageFor(model => model.UnitFeature.Wireless_Internet_Access)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Some_Paid_Utilities)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Some_Paid_Utilities)
            @Html.ValidationMessageFor(model => model.UnitFeature.Some_Paid_Utilities)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Covered_Parking)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Covered_Parking)
            @Html.ValidationMessageFor(model => model.UnitFeature.Covered_Parking)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Pets_allowed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Pets_allowed)
            @Html.ValidationMessageFor(model => model.UnitFeature.Pets_allowed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Cats_Allowed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Cats_Allowed)
            @Html.ValidationMessageFor(model => model.UnitFeature.Cats_Allowed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Small_Dogs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Small_Dogs)
            @Html.ValidationMessageFor(model => model.UnitFeature.Small_Dogs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Large_Dogs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Large_Dogs)
            @Html.ValidationMessageFor(model => model.UnitFeature.Large_Dogs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Alarm_system)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Alarm_system)
            @Html.ValidationMessageFor(model => model.UnitFeature.Alarm_system)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Near_Transportation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Near_Transportation)
            @Html.ValidationMessageFor(model => model.UnitFeature.Near_Transportation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Short_Term_Lease_Available)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Short_Term_Lease_Available)
            @Html.ValidationMessageFor(model => model.UnitFeature.Short_Term_Lease_Available)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.RV_Parking)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.RV_Parking)
            @Html.ValidationMessageFor(model => model.UnitFeature.RV_Parking)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitFeature.Boat_Storage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitFeature.Boat_Storage)
            @Html.ValidationMessageFor(model => model.UnitFeature.Boat_Storage)
        </div>
        
        
        
        
        
        
        
        
        
        
           <legend>UnitCommunityAmenity</legend>

      

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Neighborhood_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Neighborhood_Name)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Neighborhood_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Elementary_School)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Elementary_School)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Elementary_School)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.High_School)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.High_School)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.High_School)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.School_District)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.School_District)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.School_District)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Middle_School)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Middle_School)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Middle_School)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.County_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.County_Name)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.County_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Assisted_Living_Community)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Assisted_Living_Community)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Assisted_Living_Community)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Over_55_Active_Community)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Over_55_Active_Community)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Over_55_Active_Community)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Disability_Access)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Disability_Access)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Disability_Access)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Controlled_Access)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Controlled_Access)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Controlled_Access)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitCommunityAmenity.Community_Pool)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitCommunityAmenity.Community_Pool)
            @Html.ValidationMessageFor(model => model.UnitCommunityAmenity.Community_Pool)
        </div>
        
        
        
        
        
        
        
        
        
        <legend>UnitAppliance</legend>

         <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Range_Oven)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Range_Oven)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Range_Oven)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Full_Refrigerator)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Full_Refrigerator)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Full_Refrigerator)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Dishwasher)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Dishwasher)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Dishwasher)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Sink_Disposal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Sink_Disposal)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Sink_Disposal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Microwave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Microwave)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Microwave)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Central_Vacuum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Central_Vacuum)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Central_Vacuum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Surround_Sound)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Surround_Sound)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Surround_Sound)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Wine_Fridge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Wine_Fridge)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Wine_Fridge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Washer___Dryer_in_Unit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Washer___Dryer_in_Unit)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Washer___Dryer_in_Unit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Washer_Dryer_Connections)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Washer_Dryer_Connections)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Washer_Dryer_Connections)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitAppliance.Shared_Laundry_Facility)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitAppliance.Shared_Laundry_Facility)
            @Html.ValidationMessageFor(model => model.UnitAppliance.Shared_Laundry_Facility)
        </div>
        
        
        
        
        
        
        
        <legend>UnitInteriorAmenity</legend>
        
           <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.CoolingTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.CoolingTypeId)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.CoolingTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.HeatingTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.HeatingTypeId)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.HeatingTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Fireplace)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Fireplace)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Fireplace)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Hot_Tub_Spa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Hot_Tub_Spa)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Hot_Tub_Spa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Cable_Ready)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Cable_Ready)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Cable_Ready)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Attic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Attic)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Attic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.BasementTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.BasementTypeId)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.BasementTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Double_Pane_Storm_Windows)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Double_Pane_Storm_Windows)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Double_Pane_Storm_Windows)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.FloorCoveringId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.FloorCoveringId)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.FloorCoveringId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.FoundationTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.FoundationTypeId)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.FoundationTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Kitchen_Island)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Kitchen_Island)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Kitchen_Island)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Vaulted_Ceiling)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Vaulted_Ceiling)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Vaulted_Ceiling)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Ceiling_Fan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Ceiling_Fan)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Ceiling_Fan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitInteriorAmenity.Jetted_Tub)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitInteriorAmenity.Jetted_Tub)
            @Html.ValidationMessageFor(model => model.UnitInteriorAmenity.Jetted_Tub)
        </div>

        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
