@using System.Globalization
@using RentalMobile.Helpers
@model dynamic
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/ViewofProfiles/_Unit.cshtml";
}

<h2>title</h2>


@* 
<section class="row double-bottom">
  @section description{
        <div id="description" class="panel">
        

            @Model.YouTubeVideo

            @Model.YouTubeVideoURL
            
            <br/>

            @Model.VimeoVideo

            @Model.VimeoVideoURL
            
            <br/>
             <iframe src="@GetVideo()" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    }
</section>   
     *@
     
     
