@if (Request.IsAuthenticated)
{ 
    <ul id="UserMenu" class="topmenu">
        <li class="toplast"><a href="#" style=" line-height: 0.5;"><span>Hi @HttpContext.Current.User.Identity.Name</span>
        </a>
            <ul>
                @{
    if (HttpContext.Current.User.IsInRole("Tenant"))
    {
                    <li style="width:100%">@Html.ActionLink("Profile", "Index", "Tenant") </li>
    }
    else if (HttpContext.Current.User.IsInRole("Owner"))
    {
                    <li  style="width:100%">@Html.ActionLink("Profile", "Index", "Owner") </li>
    }
    else if (HttpContext.Current.User.IsInRole("Agent"))
    {
                    <li  style="width:100%">@Html.ActionLink("Profile", "Index", "Agent") </li>
    }
    else if (HttpContext.Current.User.IsInRole("Specialist"))
    {
                    <li  style="width:100%">@Html.ActionLink("Profile", "Index", "Specialist") </li>
    }
    else if (HttpContext.Current.User.IsInRole("Provider"))
    {
                    <li  style="width:100%">@Html.ActionLink("Profile", "Index", "Provider") </li>
    }
                }
                <li  style="width:100%">@Html.ActionLink("Log Off", "LogOff", "Account") </li>
            </ul>
        </li>
    </ul>
}
else
{
    @Html.ActionLink("Log in", "LogOn", "Account")
}
