@model RentalMobile.Model.Models.TenantFavorite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TenantFavorite</legend>

    <div class="display-label">FavoriteId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FavoriteId)
    </div>

    <div class="display-label">Tenant</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tenant.FirstName)
    </div>

    <div class="display-label">UnitId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitId)
    </div>

    <div class="display-label">FavoriteDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FavoriteDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
